[Desktop Entry]
Type=Application
Name=LazyMouse
Comment=Turn your phone into a trackpad for this PC
Exec=python3 %HOME%/dv/lazymouse/server/app.py
Icon=lazymouse
Terminal=false
Categories=Utility;
StartupNotify=true
